<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVE</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
    <script type="text/javascript" src="../script.js"></script>
</head>
<body>
  <h1>CVE LIST</h1>

  <p id="total-count">Total Records: <%= totalRecords %></p>
    <table>
        <thead>
          <tr>
            <th onclick="setSortMode('<%=page%>', '<%=limit%>', '1')">CVE ID<span>⇅</span></th>
            <th>IDENTIFIER</th>
            <th>PUBLISHED DATE</th>
            <th onclick="setSortMode('<%=page%>', '<%=limit%>', '2')">LAST MODIFIED DATE<span>⇅</span></th>
            <th>STATUS</th>
          </tr>
        </thead>
        <tbody id="cve-details">
          <% for(let i = 0; i < data.length; i++) { %>
              <tr onclick="detailHandler('<%=data[i].id%>')">
                <td><%= data[i].id %></td>
                <td><%= data[i].sourceIdentifier %></td>
                <td><%= data[i].published.toString().split(" ")[2] + " " + data[i].published.toString().split(" ")[1] + " " +data[i].published.toString().split(" ")[3] %></td>
                <td><%= data[i].lastModified.toString().split(" ")[2] + " " + data[i].lastModified.toString().split(" ")[1] + " " +data[i].lastModified.toString().split(" ")[3] %></td>
                <td><%= data[i].vulnStatus %></td>
              </tr>
          <% } %>
        </tbody>
      </table>
      <div class="footer">

        <div class="results-per-page">
          <label for="resultsPerPage">Results per page:</label>
          <select id="resultsPerPage" onchange="setLimit('<%=page%>', this.value, '<%=sortmode%>')">
            <option value="10" <%= limit == '10' ? 'selected' : ''%>>10</option>
            <option value="50" <%= limit == '50' ? 'selected' : ''%>>50</option>
            <option value="100" <%= limit == '100' ? 'selected' : ''%>>100</option>
          </select>
        </div>
        <div class="pagination">
          <div><p id="record-count"><%= parseInt(page - 1) * parseInt(limit) + 1%> - <%= parseInt(page) * parseInt(limit)%> of <%= totalRecords%> records</p>
          </div>
          <button class="page-btn" id="left" onclick="leftClick('<%=page%>', '<%=limit%>', '<%=sortmode%>')">◄</button>
          <button class="page-btn active" id="<%=page%>"><%=page%></button>
          <% for (var i = parseInt(page) + 1; i < parseInt(page) + 5; i++) { %>
            <button class="page-btn" id='<%=i%>' onclick="pageClick('<%=i%>', '<%=limit%>', '<%=sortmode%>')"><%=i%></button>   
            <% } %>
            <button class="page-btn" id="right" onclick="rightClick('<%=page%>', '<%=limit%>', '<%=sortmode%>')">►</button>
          </div>
        </div>
</body>
</html>